html, body {
	position: relative;
	height: 100%;
	background-color: #050505;
	}

body {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-color: #050505;
	font-family: Calibri;
	font-size: 14px;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	}

/* ПРЕДЗАГРУЗЧИК (НАЧАЛО) */

.ctn-preloader {
	align-items: center;
	display: flex;
  height: 100%;
  justify-content: center;
	position: fixed;
	left: 0;
  top: 0;
	width: 100%;
  z-index: 900;
}

.ctn-preloader .animation-preloader {
	position: absolute;
  z-index: 100;
}

.ctn-preloader .animation-preloader .spinner {
  animation: spinner 1s infinite linear;
	border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-top-color: #FFFFFF;
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

.ctn-preloader .animation-preloader .txt-loading {
  font: normal 30px 'Century Gothic';
	text-align: center;
	user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #FFFFFF;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
	color: rgba(255, 255, 255, 0.2);
	position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {animation-delay: 0.2s;}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {animation-delay: 0.4s;}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {animation-delay: 0.6s;}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {animation-delay: 0.8s;}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {animation-delay: 1s;}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {animation-delay: 1.2s;}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {animation-delay: 1.4s;}

.ctn-preloader .loader-section {
  background-color: #000;
  width: 65%;
	position: fixed;
  height: 100%;
}

.ctn-preloader .loader-section.section-left {
	left: -14%;
	transform: skewX(-15deg);
}

.ctn-preloader .loader-section.section-right {
	right: -14%;
	transform: skewX(-15deg);
}

.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

.loaded .loader-section.section-left {
  transform: translateX(-100%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

.loaded .loader-section.section-right {
  transform: translateX(100%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1.000);
}

@keyframes spinner {
	to {
		transform: rotateZ(360deg);
	}
}

@keyframes letters-loading {
  0%,
  75%,
  100% {
  	opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
	.ctn-preloader .animation-preloader .spinner {
		height: 8em;
		width: 8em;
	}

	.ctn-preloader .animation-preloader .txt-loading {
	  font: normal 30px 'Century Gothic';
	}
}

@media screen and (max-width: 500px) {
	.ctn-preloader .animation-preloader .spinner {
		height: 7em;
		width: 7em;
	}

	.ctn-preloader .animation-preloader .txt-loading {
	  font: bold 2em 'Century Gothic';
	}
}

/* ПРЕДЗАГРУЗЧИК (КОНЕЦ) */

.swiper {
	width: 100%;
	height: 100%;
	}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: transparent;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	}

.swiper-pagination-bullet {
	width: 14px !important;
	height: 14px !important;
	background: transparent !important;
	border: 1px dashed #B18840;
	opacity: 1 !important;
	}

.swiper-pagination-bullet-active {
	width: 16px !important;
	height: 16px !important;
	background: linear-gradient(to top, #B18840, #FDE88A) !important;
	border: none;
	}

.swiper-slide table {
	width: 700px;
	height: 300px;
	border-collapse: collapse;
	}

#cover {
	flex-direction: column;
	justify-content: space-evenly;
	}

#logo {
	width: 700px;
	height: 288px;
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-top: 0px;
	}

#social {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	}

#social a {
	width: 70px;
	height: 70px;
	clip-path: polygon(50% 0, 50% 0, 100% 50%, 50% 100%, 50% 100%, 0% 50%);
	}

#vk-logo {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/vk-logo.svg), linear-gradient(to top, #B18840, #FDE88A);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	}

#vk-logo:hover {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/vk-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: #FFFFFF;
	}

#tg-logo {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/tg-logo.svg), linear-gradient(to top, #B18840, #FDE88A);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	}

#tg-logo:hover {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/tg-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: #FFFFFF;
	}

#git-logo {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/git-logo.svg), linear-gradient(to top, #B18840, #FDE88A);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	}

#git-logo:hover {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/git-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: #FFFFFF;
	}

#pen-logo {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/pen-logo.svg), linear-gradient(to top, #B18840, #FDE88A);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	}

#pen-logo:hover {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/pen-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: #FFFFFF;
	}

.project-title {
	width: 744px;
	height: 50px;
	margin-bottom: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	font-family: Calibri;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: linear-gradient(to top, #B18840, #FDE88A);
	border-radius: 10px 10px 0px 0px;
	}

.project-logo {
	aspect-ratio: 1;
	width: 300px;
	height: 300px;
	border-radius: 10px;
	}

.project-card {
	width: 700px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	border-bottom: 2px dashed #B18840;
    border-left: 2px dashed #B18840;
    border-right: 2px dashed #B18840;
    border-radius: 0px 0px 10px 10px;
	backdrop-filter: blur(10px);
	}

.project-info {
	width: 400px;
	text-align: center;
	font-family: Calibri;
	font-weight: normal;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	}

.project-info ul {
	list-style: circle;
	margin-block-start: 0;
	margin-block-end: 1em;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 40px;
	}

.project-info ul li {
	padding: 10px 0;
	border-bottom: 1px dashed #B18840;
	}

.project-info ul li:first-child {
	padding: 0 0 10px 0;
	}

.project-info ul li::marker {
	content: "⮞";
	color: #B18840;
	}

.project-info ul li a {
	color: #FDE88A;
	text-decoration: none;
	}

.project-info ul li a:hover {
	color: #B18840;
	}

.project-links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	margin-left: 40px;
	gap: 20px;
	}

.link {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	}

.web {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/web-logo.svg), linear-gradient(to top, #B18840, #FDE88A);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.web:hover {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/web-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: #FFFFFF;
	}

.vk {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/vk-logo.svg), linear-gradient(to top, #B18840, #FDE88A);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.vk:hover {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/vk-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: #FFFFFF;
	}

.tg {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/tg-logo.svg), linear-gradient(to top, #B18840, #FDE88A);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	}

.tg:hover {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/tg-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-color: #FFFFFF;
	}

#nie-no-machi .project-logo {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/nie-no-machi.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	}

#fsn-hf-odcd .project-logo {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/fsn-hf-odcd.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	}

#mahoyoru .project-logo {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/mahoyoru.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	}

#insaneattic .project-logo {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/insaneattic.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	}

#tiny-bunny .project-logo {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/tiny-bunny.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	}

#typemoonyash .project-logo {
	background-image: url(https://raw.githubusercontent.com/InsaneChronos/insanechronos.github.io/main/insanechronos/assets/typemoonyash.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	}
